[package]
name = "warden"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror.workspace = true
serde.workspace = true

[target.'cfg(windows)'.dependencies]
winreg.workspace = true
wmi.workspace = true